<div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-fileUpload name="demo[]" [customUpload]="true" (uploadHandler)="upload($event)" (onUpload)="onUpload($event)" [multiple]="false" accept=".csv, text/csv" [maxFileSize]="maxSize">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</div>

